[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sobinonline
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sobinonline
	label-Verified = -1..+1 group user/sobinonline
	push = group user/sobinonline
	read = group user/sobinonline
	rebase = group user/sobinonline
	removeReviewer = group user/sobinonline
	submit = group user/sobinonline
[access "refs/heads/*"]
	create = group user/sobinonline
	push = +force group user/sobinonline
	pushMerge = group user/sobinonline
	read = group user/sobinonline
[access "refs/tags/*"]
	push = group user/sobinonline
	push = +force group user/sobinonline
